In [1]:
import numpy as np
import pandas as pd

In [2]:
data_file = "./Data/AAPL_1min_full.csv"

In [3]:
data = pd.read_csv(data_file)

In [4]:
data.head()

                  date  1. open   2. high   3. low  4. close  5. volume
0  2020-03-09 09:31:00  263.750  266.9199  263.000  266.1900  3420395.0
1  2020-03-09 09:32:00  266.190  267.2500  265.162  267.1000   351423.0
2  2020-03-09 09:33:00  267.124  267.9300  266.870  267.8001   316993.0
3  2020-03-09 09:34:00  267.890  268.1291  266.635  267.4100   319034.0
4  2020-03-09 09:35:00  267.430  267.4300  267.430  267.4300        0.0

In [3]:
from Bot_Functions import *

In [4]:
X,Y = create_dataset(data_file)

In [5]:
X

array([[0.40441176, 0.47617647, 0.50364706],
       [0.47617647, 0.50364706, 0.52617647],
       [0.50364706, 0.52617647, 0.51264706],
       ...,
       [0.58676471, 0.64267353, 0.62352941],
       [0.64267353, 0.62352941, 0.65352941],
       [0.62352941, 0.65352941, 0.71794118]])